.header{
    /* height: 10vh;
    line-height: 10vh; */
}
.nav-item{
   
}
/* .nav-link {
    color: black !important;
    display: block;
    padding: 0.5rem 1rem;
    
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */
/* .navlinks_contaner ul li .nav-link {
    color: green;
    background-blend-mode: blue;
} */

.nav-link .nav-item {
    list-style: none !important;
    /* color: black !important; */
    /* text-decoration: none !important; */
    }
    .navlink ul li  {
        list-style: none !important;
        }
        .header_underline{
            width: 100vw;
            border-bottom: 1px solid #DCDCDC;
        }
.navlink ul li  {
list-style: none !important;
}
.bg-body-tertiary{
    background-color: #FFFFFF !important;
}
.header_underline{
    width: 100vw;
    border-bottom: 1px solid #DCDCDC;
}
.navbar_container{
    padding-right: 10%;
}
.nav-link{
    color: #232337;
    font-weight: 500;
}
.chat-tag{
    position: absolute;
    right: 0;
    background-color: snow;
    top: 0;
    width: 30%;
}
.chat-tag svg {
    
    height: 20px;
}
/* .nav-item .nav-link{
    position: relative;
    text-decoration: none;
    color: #333;
}
 .nav-item .nav-link::before { 
   border-bottom: 1px solid;
     content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #007bff; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
 }
  .nav-item .nav-link:hover {
    visibility: visible;
    transform: scaleX(1);
  }
  
 
 
  .nav-item .nav-link:hover ,  .nav-item .nav-link.active{
    color: #0C8B51;
    transition: 0.5s ease-in-out;
  }
   .nav-item .nav-link:hover::after,
   .active::after{
   content: "";
   width: 40px;
   height: 2px;
   background: #0C8B51;
   position: absolute;
   bottom:4px ;
   left: 10px;
   transition: 1s ease-in-out;
  } */
  /* .navlinks_contaner ul li .nav-item {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  } */
  .nav-item{
    position: relative;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 4px;
    left: 32px;
    background: #0C8B51;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-link:hover:before,
  .nav-link:hover> .nav-link:before,
  .activeClassName:before {
  visibility: visible;
  width: 50%;
    height: 2px;
    bottom: 4px;
    left: 32px;
 }
 .nav-item .nav-link:hover ,  .nav-item .nav-link.active{
    color: #0C8B51;
    transition: 0.5s ease-in-out;
  }
.nav-item .nav-link:hover,
.nav-item .nav-link.active,
.nav-item .nav-link .active:focus,
.nav-item .nav-link:hover>a {
  color: #0C8B51;
}
 
/* .nav-item .nav-link:hover::after, */
.active::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 4px;
    left: 32px;
    /* margin: auto; */
    background: #0C8B51;
    /* visibility: hidden; */
    /* width: 0px; */
    transition: all 0.3s ease-in-out 0s;
}