.footer{
    /* background-color: #fff; */
    background-color: white;
    color: black;
    padding: 4%;
}
.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}
.footer_contact{
    gap: 4%;
}
.footer_links{
    display: flex;
    gap: 10%;
}
