@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2{
 padding: 0;
 margin: 0;
}
:root {
  /* --primarybackground: #ffe9e0; */
  --primaryitemcolor: #e60501;
  --textcolor: rgba(0, 0, 0, 0.81);
  --primarytextcolor: #000000;
  --secondarytextcolor: #959190;
  --tertiarytextcolor: #443d3d;
  --bordercolor: rgba(255, 77, 0, 0.6);
  --secondarybordercolor: #e1e1e1;
  --tertiarybordercolor: #d9d9d9;
  --heartcolor: #e81224;
  --light: #ffffff;
  --dark: #000000;
}
html,
body {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif !important;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  color: var(--primarytextcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  
}
